<!DOCTYPE html>
<html>
<head>
	<title>categories</title>
	<link rel='stylesheet', href='/stylesheets/style.css'>
</head>
<body>
	<h1 id="title">{{title}}</h1>
	<form method="post",action="/categories/add">
		<label>Category:</label>
		<input type="text" name="data" /></br>		
		<button name="submit" class="submit"> Add</button>		
	</form>
	

</body>
</html>