{{>header}}
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<div class="container">
	<h3>Password reset :</h3>
		<form action="/forgetpassword" method="get">
		  <div class="form-group">
		    <label for="email">E-mail:</label>
		    <input type="email" class="form-control" id="email" name="email" autofocus required>
		  </div>
		  <button type="submit" class="btn btn-primary">proceed</button>
		</form>
	</div>