<div class="bgimg-1">
  <div class="caption" id="caption01">
    <div class="row border">
      <div class="col-12">
        Welcome to PexelStory
      </div>
    </div><br>
    <div class="row border">
      <div class="col-12">
        Every story got a Pexel to share
      </div>
    </div><br>
    <span class="landing_heading"><a href="/pexel" class="btn btn-lg btn-success p-2 m-2">Click to View Stories</a></span>
  </div>
</div>

