<div class="bgimg-1">
  <div class="caption" id="caption01">
    <span class="border">Welcome to BlogApp</span><br><br><br><br>
    <span class="border"><a href="/blogs" class="btn btn-lg btn-success">Click to View Blogs</a></span>

  </div>
</div>

