<!DOCTYPE html>
<html>
<head>
	<title>Blogging-site</title>
	<link rel='stylesheet', href='/stylesheets/style.css'>
	<link rel='stylesheet', href='/stylesheet/bootstrap.min.css'>
</head>
<body>
	{{{body}}}
<footer>By:Tarun Singh</footer>

</body>
</html>
