<!DOCTYPE html>
<html>
<head>
	<title>Blogging-site</title>
	<link rel='stylesheet', href='/stylesheets/style.css'>
</head>
<body>
	<div class="container1"><img class="logo" src="/images/node-blog-logo.jpg" /></div>
	<div class="container">
		
		<nav>
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/posts/add">Add Post</a></li>
				<li><a href="/categories/add">Add Category</a></li>
			</ul>
		</nav>
			{{{body}}}
<footer>By:Tarun Singh</footer>
	</div>

</body>
</html>