body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin :0px;
}
#caption01 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  opacity:0.8;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
